<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.yeee.app.crowdfunding.client.domain.mysql.mapper.ApiCfCommentMapper">

    <select id="getProjectCommentList" parameterType="vip.yeee.app.crowdfunding.client.model.dto.CommentDto" resultType="vip.yeee.app.crowdfunding.client.model.vo.CommentVO">
        select
        tc.*,
        tp.id projectId,
        tp.title projectTitle
        from
        t_cf_comment tc
        left join t_cf_project tp on tp.id = tc.project
        <where>
            <if test="userId != null">
                and tc.user_id = #{userId}
            </if>
            <if test="projectUserId != null">
                and tp.user_id = #{projectUserId}
            </if>
        </where>
        order by tc.id desc
    </select>

</mapper>
